.row{
    margin: 0;
}
*{
    font-size: 1.25rem;
}
#chartcompany {
    width: 100%;
    height: 200px;
}
#chartage {
    width: 100%;
    height: 200px;
}
.v-center{
    align-items: center;
}
.h4{margin: 0;}
#chartwarranty {
    width: 100%;
    height: 300px;
}
#chartreprocess{
    width: 100%;
    height: 300px;
}
#chartstorage{
    width: 100%;
    height: 270px;
}
#charttraining{
    width: 100%;
    height: 300px;
}
#chartbartraining{
    width: 100%;
    height: 310px;
}
#chartpm{
    width: 100%;
    height: 310px;
}
#chartpm01{
    width: 100%;
    height: 310px;
}
#chartrepair{
    width: 100%;
    height: 270px;
}
#chartmp,#chartmp2{
    width: 100%;
    height: 270px;
}
#chartmp tspan,#chartmp2 tspan{
    font-size: 12px !important;
}
.w-70{
    width: 70%;
}
.new-pr{
    padding-right: 2.25rem;
}
.box{
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    position: absolute;
}
.blue-01{
    background: #374649;
}
.blue-02{
    background: #1f827c;
}
.blue-03{
    background: #57bbb5;
}
.blue-04{
    background: #83e0db;
}
g[aria-labelledby^="id-"]{
    display: none;
    position: absolute;
}
.tl{
    text-decoration: underline;
}
.ipad-left{
    text-align: left;
}
.ipad-center{
    text-align: right;
}
@media (min-width: 1140px) {
  .ipad-center,.ipad-left{
      text-align: center;
      margin-bottom: 1em;
  }
  .card-body{
      padding: 0.5em;
  }
  .col-lg-12,.col-lg-11,.col-lg-10,.col-lg-9,.col-lg-8,.col-lg-5,.col-lg-4,.col-lg-3,.col-lg-2{
      padding: 5px;
  }
}
