.f-right{
    top: 5px;
    position: absolute;
    right: 5px;
    padding: 4px;
    border-radius: 5px;
}
.row{
    margin:0;
}
.al-cen{
    align-self: center;
}
.pd5{
    padding-top: 5px;
}
.pd5-all{
    padding: 1em;
}
.h100{
    height: 95%;
}
.w100{
    width: 100%;
}
.scrollbar
{
    float: left;
    /* height: 20em; */
    overflow-y: scroll;
}


#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-4::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;

}

#style-4::-webkit-scrollbar-thumb
{
    background-color: #999595;
    border: 2px solid #969292;
    border-radius: 10px;
}
p{
    margin: 0;
}
#chartdiv {
    width: 100%;
    height: 10em;
}
g[aria-labelledby="id-66-title"]{
    opacity: 0;
}
.b{
    font-weight: bold;
    font-size: 16px;
}
.add-maintenance .row,.add-repair .row,.add-training .row{
    padding: 5px 0px;
}
/* .table-primary, .table-primary > th, .table-primary > td {
    background-color: #5ecbeb !important;
    color: #fff !important;
} */
.table-scope, .table-scope > th, .table-scope > td {
    background-color: #61a9be;
    color: #fff;
}
.w-2{
    width: 10em;
    position: absolute;
}
.tb-modal th,.tb-modal tr td{
    width: 50% !important;
}
