.h100{
    height: 100%;
}
td {
    font-size: 12px;
    height: fit-content;
}
::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #B5B5C3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0071bb;
}


.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    /* padding: 20px; */
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5em;
    outline: none;
    opacity: 0;
    cursor: pointer;
    right: 0;
}

.image-upload-wrap {
    margin-top: 5px;
    border: 1px dashed #1FB264;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #98d4b4;
    border: 1px dashed #ffffff;
}
.btn-download{
    width: 100%;
    margin-top: 5px;
    border: 1px dashed #1f70b2;
    background-color: #114e80;
    /* position: relative; */
}
.image-title-wrap {
/* padding: 0 15px 15px 15px; */
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 10px 0;
    margin: 0;
}

.file-upload-image {
    max-height: 5em;
    max-width: 100%;
    margin: auto;
    padding: 3px;
}

.remove-image {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}
.border-r-0{
    border-radius: 0 !important;
}
.h3{
    margin: 0;
}

.add-scope .modal-lg{
    max-width: 100%;
}
.add-scope .modal-content{
    margin: auto;
    width: 80%;
}
.b{
    font-weight: bold;
    font-size: 16px;
}
.set-center .row{
    padding: 5px 0;
    align-items: center;
}
.max-modal{
    margin-top: 2em !important;
    min-width: 98% !important;
    margin: auto;
}

.table-scope th:nth-child(9){
    text-align: center;
}
.form-control[readonly] {
    background-color: #f0f3f3;
}
.alert-light-danger {
    width: fit-content !important;
}
