
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #B5B5C3;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #0071bb;
        }

        .label-pill {
            font-size: 1em;
        }

        td,
        th {
            vertical-align: inherit !important;
        }

        @keyframes ldio-vfu9b3lacsh {
            0% {
                opacity: 1
            }

            50% {
                opacity: .5
            }

            100% {
                opacity: 1
            }
        }

        .ldio-vfu9b3lacsh div {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 15px;
            animation: ldio-vfu9b3lacsh 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        }

        .ldio-vfu9b3lacsh div:nth-child(1) {
            transform: translate(30px, 0);
            background: #93dbe9;
            animation-delay: -0.6s;
        }

        .ldio-vfu9b3lacsh div:nth-child(2) {
            transform: translate(70px, 0);
            background: #689cc5;
            animation-delay: -0.4s;
        }

        .ldio-vfu9b3lacsh div:nth-child(3) {
            transform: translate(110px, 0);
            background: #5e6fa3;
            animation-delay: -0.2s;
        }

        .ldio-vfu9b3lacsh div:nth-child(4) {
            transform: translate(150px, 0);
            background: #3b4368;
            animation-delay: -1s;
        }

        .loadingio-spinner-bars-zy9i70wgs1m {
            width: 200px;
            height: 50px;
            display: inline-block;
            overflow: hidden;
            background: #ffffff;
        }

        .ldio-vfu9b3lacsh {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0;
        }

        .ldio-vfu9b3lacsh div {
            box-sizing: content-box;
        }

        #kt_content {
            min-height: 970px;
        }

        .product-scroll {
            height: 5em;
            ;
        }

        .dontnew {
            width: 50%;
        }
        #show_other thead,#show_other tbody{
            width: 100% !important;
        }
