*{
    margin: 0;
    padding: 0;
}
td{
    width: max-content;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
th{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-responsive::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;

}

.table-responsive::-webkit-scrollbar-thumb
{
    background-color: #999595;
    border: 2px solid #969292;
    border-radius: 10px;
}
svg{
    width: 10px;
}
.flex-1{
    position: absolute;
    opacity: 0;
}
.inline-flex{
    padding: 5px !important;
    border-radius: 10px;
    text-align: center;
}
body{
    background: rgb(233, 235, 241);
}
