.scroll_slider{
    width: 100%;
    height: fit-content;
    background:none;
    border-radius: 5px;
    overflow: hidden;
}
.scroll_slider .next{
    display: block;
    width: 50px;
    right: 0;
    position: absolute;
    /* height: 100%; */
    /* float: right; */
    z-index: 2;



}
.scroll_slider .main{
    height: 260px;
    width: 93%;
    float: right;

    overflow: hidden;
}

.scroll_slider .prev{
    position: absolute;
    display: block;
    width: 50px;
    /* height: 100%; */
    float: right;
    z-index: 2;




}
.scroll_slider .next  span{
    background: url("css/image/slices.png") no-repeat -852px -686px;
    display: block;
    width: 15px;
    height:25px ;
    margin-right: 10px;
    margin-top: 90px;
    cursor: pointer;

}


.scroll_slider .prev  span{
    background: url("css/image/slices.png") no-repeat -813px -686px;
    display: block;
    width: 15px;
    height:25px ;
    margin-left: 36px;
    margin-top: 90px;
    cursor: pointer;


}
.main ul{
    padding: 0;
    float: right;
    list-style: none;
    margin: 0;
    height: 100%;
    float: right;
    width: 1600px;
}
.scroll_slider ul li{
    width: 200px;
    height: 100%;
    float: right;
}
.scroll_slider ul li  > img{
    margin-top: 10px;
    text-align: center;
    height: 150px;

}
.scroll_slider ul li .text small{
    color: #8D8F90;
}
.text p{
    color: #fff;
}
.pic{
    /* padding-top: 10px; */
    width: 150px;
    height: 150px;
}

.share{
    margin:auto;
    width:100px;
    height:40px;
    background:#1E8BC3;
    border-radius:3px;
    box-shadow:0 1px 2.5pt rgba(0,0,0,0.3);
       line-height: 36px;
       cursor:pointer;
}
a{
    text-decoration:none;
    /* color:white; */
}
.div-img{
    width: 100%;
    height: 150px;
    /* text-align: center; */
}
.form-library{
    color: #fff !important;
    background: #101211 !important;
    border-color: #232323 !important;
}
.hr-library{
    height: 0.1em;
    background: #1c1d1c;
    border-radius: 15px;
}
.pic:hover{
    box-shadow: 0px 0px 10px #b4c1bf;
    padding: 2px;
}
