/vendor/
/config/
node_modules/
npm-debug.log
yarn-error.log

/config/database.php

/storage/

config/database.php
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

config/database.php
composer.lock

endoindex.7z
composer.json
endoindex.zip
*.7z
