version: '3'

services:
  app:
    image: php:8.1-fpm
    container_name: laravel-app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    networks:
      - laravel
    depends_on:
      - mongo
    environment:
      - DB_CONNECTION=mongodb
      - DB_HOST=mongo
      - DB_PORT=27017
      - DB_DATABASE=endoindex
      - DB_USERNAME=root
      - DB_PASSWORD=root

  mongo:
    image: mongo:latest
    container_name: laravel-mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - laravel

  nginx:
    image: nginx:latest
    container_name: laravel-nginx
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

volumes:
  mongo-data:

networks:
  laravel:
    driver: bridge
