.scoll{
    overflow-x: auto;
    width: 100%;
}

.w-20{
    width: 20%;
}
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #B5B5C3;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: skyblue;
}
.box-check{
border: 1px solid #E4E6EF;
border-radius: 5px;
padding: 5px;
}
.modal-select{
display: none;
}
.modal-select.active{
display: flex;
}
.cn{
align-items: center;
}
.mh-3{
min-height: 2em;
}
.mainpart{
display: none;
}
.mainpart.active{
display: block;
}
.img_modal{
/* border: 4px solid #fff; */
width: 200px;
height: 200px;
}
.img_s{
text-align-last: center;
display: inline;
width: fit-content;
height: fit-content;
}
.select_modal_wiath{
justify-items: center;
display: inline-grid;
width: fit-content;
padding: 5px;
}
.w-90{
width: 90%;
}
