.aa{
    position: relative;
    left: 20px;
    top: 20px;
    width: 20px;
    background-color: white;
}
.bb{
    position: absolute;
    left: 20px;
    top: 5px;
    width: 20px;
    background-color: white;
}
.row{
    margin: 0;
    padding: 1em;
    margin-top:3em;
}
*{
    font-family: 'Kanit', sans-serif;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.tr_th{
    background: linear-gradient(90deg, rgb(48, 164, 223) 0%, rgba(87, 195, 231, 0.8) 100%) !important;
}
.w3-striped tbody tr:nth-child(even) {
    background: linear-gradient(90deg, rgba(102, 186, 228, 0.611) 0%, rgba(138, 201, 226, 0.2) 100%);
}
.w3-striped tbody tr:nth-child(odd) {
    background: linear-gradient(90deg, rgba(106,215,232,0.6110819327731092) 0%, rgba(184,219,223,0.2) 100%);
}
.newtable tr{
    text-align-last: center;
    font-size: xx-large;
    font-family: 'Kanit', sans-serif;
}
h1{
    font-family: 'Kanit', sans-serif;
    font-size: 65px;
    text-align: center;
}
img{
    width: 100%;
}
