.form-control{
    border: 1px solid rgb(153, 151, 151) !important;
}
.btn-radiuus{
    border-radius: 5px;
    order: 1px solid rgb(153, 151, 151) !important;
}
.toolbar{
    opacity: 0;
}
.toolbar-row-left{
    opacity: 0;
}
.zoom-display,.action-buttons .button-group{
    opacity: 0;
    position: absolute;
}
iframe{
    width: 109% !important;
    height: 328px !important;
}
/* .modal-content{
    background: none !important;
} */
ul.jq-input-dropdown,
ul.jq-input-dropdown li{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

ul.jq-input-dropdown {
border: 1px solid #CCC;
list-style: none;
display: none;
z-index: 200;
min-width:10%;
}

ul.jq-input-dropdown li:hover {
background-color: #C0C0C0;
color: #fff;
cursor: pointer;
}
.set-0{
margin: 0 !important;
}
label{
margin: 0;
margin-top: 10px;
}
