:root {
    --vz-input-bg: #00000;
}

[data-layout-mode=dark] {
    --vz-input-bg: #2B2F34;
    --vz-body-bg: #000;
}

body {
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'kanit';
    touch-action: none;
    background-color: #000;
}

/* Font faces will be defined inline in blade due to Blade syntax */

.form-select {
    --vz-input-bg: #2B2F34;
    color: #CFD4D9;
    border: 0;
}

.btn-dark-primary {
    background: #245788;
    color: #fff;
}

.btn-dark-primary:hover {
    background: #173857;
}

.btn-primary {
    background: #2A4856;
    color: #EFF2F7;
    border: transparent;
}

.btn-primary:hover {
    background: #1d323b;
    color: #fff;
}

.btn-record {
    background: #fff;
    color: #000;
}

.btn-record:hover {
    background: rgb(225, 224, 224);
    color: #fff;
}

.btn-record>i {
    color: red;
    background: transparent;
}

.btn-record.active {
    background: red !important;
    border: 0 !important;
}

.btn-record.active>i {
    animation-name: loop_record;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.btn-white-camera {
    background: white;
    color: #000;
}

.btn-white-camera:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #bbb;
}

.bd-white, .border-divider {
    border: 1px solid #707070;
}

.text-bbbb {
    color: #bbb;
}

.text-white-camera {
    color: #CFD4D9;
}

.fs-20 {
    font-size: 20px;
}

.p-custom {
    padding: 10px;
}

.p-custom-2 {
    padding: 16px;
}

.h-button {
    height: 53px;
}

.box-detail {
    background: #222529;
    border-radius: 4px;
}

.box-capture {
    height: 37vh;
    overflow-y: auto;
}

.box-capture-image, .box-capture-list {
    position: relative;
    margin-top: 1em;
}

.box-capture-image:first-child, .box-capture-list:first-child {
    margin-top: 0;
}

.number-cap {
    position: absolute;
    font-size: x-large;
    color: white;
    left: 48%;
    top: 47%;
    text-shadow: 0px 0px 5px black;
}

.scroll {
    height: 7.5em;
    overflow: auto;
}


.point-top1, .point-top11 {
    position: absolute;
    top: 0rem;
    left: -0.5rem;
    z-index: 9;
    height: var(--marker-height, 7.7vh);
}

.point-bottom1 {
    position: absolute;
    top: 71vh;
    right: 0rem;
    z-index: 9;
    height: var(--marker-height, 7.7vh);
}

.point-bottom11 {
    position: absolute;
    top: 0;
    z-index: 9;
    height: var(--marker-height, 7.7vh);
}

.point-top21, .point-bottom2 {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 9;
    height: 8vh;
}

.position-warning-signal {
    position: absolute;
    top: 0;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 57.333333%;
    padding-right: 2em;
}

.cs, .close-hover:hover {
    cursor: pointer;
}

.close-hover:hover {
    font-weight: bold;
}

.border-r {
    border-radius: 4px 4px 0px 0px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    background: rgb(24, 23, 23);
}

::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206);
}

::-webkit-scrollbar-thumb:hover {
    transition: 0.3s;
    background: rgb(99, 98, 98);
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0 !important;
}

.width-time-custom {
    width: 35% !important;
}

.offcanvas {
    width: 25vw !important;
}

.offcanvas-body {
    overflow-x: hidden;
}

.offcanvas-backdrop.show {
    opacity: 0 !important;
}

@keyframes slideInleft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes loop_record {
    from {
        color: rgb(253, 10, 10);
    }
    to {
        color: rgb(250, 159, 159);
    }
}

.bar-header {
    animation: 1s ease-in-out 0s 1 slideInleft;
}

.btn-soft-darkness {
    background-color: #2B2F34;
    color: #fff;
}

#div_video {
    height: 80vh;
    background-color: #000;
}

#div_video > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: auto;
    background: rgba(0,0,0,0);
}

#video1 {
    background-color: #000;
}

.bar_test {
    color: rgb(245, 245, 245);
}

.box-procedure {
    background-color: var(--procedure-color, #245788);
}

.btn-attendant {
    background-color: #245788;
    color: white;
}

.btn-case-list {
    background-color: #245788;
    color: white;
}

.btn-live-solution {
    background-color: #245788;
    color: white;
}

.size-text {
    font-size: 10px;
}

