.count_img{
    font-size: xxx-large;
    position: relative;
    bottom: 180px;
    left: 50%;
    height: 1px;
    color: white;
    text-shadow: 0px 0px 2px black;
}
body {
    background-color: #232323;
}
th{
    font-size: 14px;
    margin-top:-4px;
}
body { background: navy !important; }
.cssload-thecube {
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(43,160,199);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}


@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}
.box-capture,.box-vdo{
    width: 100%;
    /* height: 3em; */
    /* padding: 1em; */
    padding: 5px 10px;
    border-radius: 5px;
    /* padding-top: 0.8em; */
    border: 1px solid #fff;
    text-align: center;
}
.box-vdo:hover,.box-capture:hover{
    transition: border-radius 0.5s;
    border-radius: 5px;
}
.box-vdo.active{
    transition: border 0.5s;
    border: 1px solid red;
    border-radius: 5px;
}
.box-vdo > i{
    color: #fff;
}
.box-vdo.active > i{
    transition: color 0.5s;
    color: red;
}
.h-80{
    height: 80%;
}
.h-10{
    height: auto;
}
.h-10 .row{
    align-items:center;
}
.h-10 .col-lg-auto{
    height: 100%;
}
.fa-camera{
    margin-top: -0.2em;
}

select{
    padding: 0 !important;
}
.h-50{
    height: 50%;
}
/* #image1.col-lg-12,#image2.col-lg-12{
    height: 100%;
}
#image1.col-lg-6,#image2.col-lg-6{
    height: 50%;
} */
.col-lg-6,.col-lg-12{
    transition: 0.4s;
}
.border-s{
    border: 150px solid #212020 !important;
}
.bar_test{
    position: absolute;
    z-index: 99999999999;
}
.switch {
position: relative;
display: inline-block;
width: 30px;
height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 2px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: rgb(101 210 64);
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}
.bg-green{
background: rgb(101 210 64);
}
.text-green{
color: rgb(101 210 64);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
.fa-question-circle{
    font-size: 6em;
    color: #5388fc;
}
#camera_menu .modal-content{
    background: #2b2b35;
}
.btn-info.info2{
    background: #1ac5bd !important;
}
.scroll-list{
    height: 4em;
    overflow-x: scroll;
}

.add_pcd{
    position: absolute;
    right: 0;
    top: 5px;
}
select.select-pcd:not([size]):not([multiple]) {
    height:2em !important;
}
.select-pcd option:disabled{
    color: red !important
}
#menu_bottom tr td:nth-child(2){
    width: 40% !important;
}
#menu_bottom tr td:nth-child(3){
    vertical-align: inherit;
    width: 15% !important;
}
#menu_bottom tr td:nth-child(4){
    vertical-align: bottom;
    text-align: right;
    width: 15%;
}
#menu_bottom tr td:nth-child(4) button{
    width: 100%;
    padding: 15px;
}
#menu_bottom tr td:nth-child(1){width: 30% !important;}
.set-group{display: flex;}
.set-group .input-group-prepend{background: gainsboro;border-radius: 5px 0px 0px 5px;height: 25px;}
.set-group .form-control{height: 25px;}
.progress {
    height: 13px;
}
.h-25{
    height: 25%;
}
.h-50{
    height: 50%;
}
.r-time{
    display: none;
}
.r-time.active{display: block;}
#capture1,#capture2,#capture3,#capture4{
    border-radius:5px;
}
.row.m-0.h-100 img{border: 2px solid black;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding: 3px;}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 6px);
}
#menu_bottom tr td{
    vertical-align: middle !important;
}
.cn{vertical-align: center;}
.alsc{align-self: center;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
}
body{
    background: #707070;
}
.bg-black{
    background: #000000;
}
.py-s{
    padding-bottom: .35rem!important;
    padding-top: .35rem!important;
}
.h-10{
    height: 18%;
}
.pt-10{padding-top: .65rem!important}
.pt-11{padding-top: .8rem!important}
.pb-11{padding-top: .8rem!important}
.pb-10{padding-bottom: .65rem!important}
.bootstrap-select>.dropdown-toggle, .bs3 {
    height: 29px !important;
}
.mh-178px{
    min-height: 178px;
}
.mh-153px{
    height: 153px;
    align-content: baseline;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    font-size: revert !important;
    color: rgb(31, 30, 30) !important;

}
.bootstrap-select>.dropdown-toggle{
    padding-top: 4px !important;
}
.cn{align-items: center !important;}
label{text-shadow: none !important;}
.switch-key{display: none;}
.switch-key.active{display: block;}
