body {
    font-family: Arial;
}

span {
    display: inline-block;
}


.bgColor {
    width: 100%;
    height: 150px;
    background-color: #fff4be;
    border-radius: 4px;
    margin-bottom: 30px;
}

.inputFile {
    padding: 5px;
    background-color: #FFFFFF;
    border: #F0E8E0 1px solid;
    border-radius: 4px;
}

.btnSubmit {
    background-color: #696969;
    padding: 5px 30px;
    border: #696969 1px solid;
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 10px;
}

#uploadFormLayer {
    padding: 20px;
}

input#crop {
    padding: 5px 25px 5px 25px;
    background: lightseagreen;
    border: #485c61 1px solid;
    color: #FFF;
    visibility: hidden;
}
#cropped_img {
    margin-top: 40px;
}
        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #B5B5C3;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #0071bb;
        }
        .icon-img{
            width: 1.7em;
        }
        #header {
            box-shadow: 1px 2px 15px skyblue;
            padding-bottom: 1em;
            padding-top: 1em;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 99999999;
            background: #fff;
        }
        .draw-img{
            border: 1px solid gray;
        }
        body{
            background: whitesmoke;
        }
