.form-control{
    border:none;
    color: red;
}
.btn{
    display: none;
}
a[data-toggle='modal'],.font-size-h6{
    display: none;
}
input[type="radio"], input[type="checkbox"] {
    border: none !important;
}
.hide-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}
