.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: none !important;
}
.left-list{}
[data-layout-mode=dark]{
    --vz-topbar-user-bg: black;
    --vz-header-bg: black;
}
.left-list{
    padding: 15px 0 !important;
    background: #333333;
}
.form-control{
    padding: 10px 0 !important;
    background: #222222;
    border: none;
}
body{
    background: #222222;
}

.layoutChooser {
    border: 1px solid rgba(77,99,110,0.81);
    border-radius: 8px;
    padding: 5px 0;
    position: absolute;
    z-index: 5000;
}
.layoutChooser-dropdown-menu {
    top: 100%;
    left: 0;
    float: left;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.div-border {
    border-style: solid;
    border-color: #264C60;
}
.box-number{
    padding-top: 0.2em;
    text-align: center;
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: black;
    color: white;
    border: 1px solid #4C4F57;
}
.image-list-img{
    border: 1px solid #4C4F57;
}
.nav-link > i{
    font-size: 2em;
}
.nav-item{
    text-align-last: center;
    align-self: center;
}
.dropdown-toggle::after{
    display: none;
}
.navbar-header {
    display: inline-flex;
}
.ml-35{
    margin-left: 32em;
}
#page-topbar {
    background-color: #2B2E32;
}
.topbar-user {
    background-color: #33373B;
}
.procedure-task{
    font-size: 1.3em;
    height: 2em;
    width: 100%;
    text-align: center;
    background: #4B4F58;
    margin-top: 1px;
    padding: 0.3em;
}
.menu-list-image > div{
    margin-top: 10px;
}
.d-toggle::after {
    position: absolute;
    display: inline-block;
    margin-left: .5em;
    content: "\f0140";
    font-family: "Material Design Icons";
    font-size: small;
    margin-top: 0.7em;
}
.b04{
    margin-bottom: 0.4em;
}
.left-list .h5{
    white-space: nowrap !important;
}
@media (max-width: 1886px) {
    .ml-35 {
        margin-left: 30em !important;
    }
}
@media (max-width: 1873px) {
    .ml-35 {
        margin-left: 29em !important;
    }
    .left-list .h5:first-child{
        margin-top: 2.5em !important;
    }
    .left-list .h5{
        font-size: x-small;
    }
    .left-list{
        padding-top: 25px !important;
    }
}
@media (max-width: 1873px) {
    .ml-35 {
        margin-left: 28em !important;
    }
}
@media (max-width: 1847px) {
    .ml-35 {
        margin-left: 27em !important;
    }
}
@media (max-width: 1834px) {
    .ml-35 {
        margin-left: 26em !important;
    }
}
@media (max-width: 1821px) {
    .ml-35 {
        margin-left: 25em !important;
    }
}
@media (max-width: 1808px) {
    .ml-35 {
        margin-left: 24em !important;
    }

}
@media (max-width: 1795px) {
    .ml-35 {
        margin-left: 23em !important;
    }
}
@media (max-width: 1782px) {
    .ml-35 {
        margin-left: 22em !important;
    }
}
@media (max-width: 1769px) {
    .ml-35 {
        margin-left: 21em !important;
    }
}
@media (max-width: 1756px) {
    .ml-35 {
        margin-left: 20em !important;
    }
}
@media (max-width: 1743px) {
    .ml-35 {
        margin-left: 19em !important;
    }
}
@media (max-width: 1730px) {
    .ml-35 {
        margin-left: 18em !important;
    }
}
@media (max-width: 1717px) {
    .ml-35 {
        margin-left: 17em !important;
    }
}
@media (max-width: 1704px) {
    .ml-35 {
        margin-left: 16em !important;
    }
}
@media (max-width: 1691px) {
    .ml-35 {
        margin-left: 15em !important;
    }
}
@media (max-width: 1678px) {
    .ml-35 {
        margin-left: 14em !important;
    }
}
@media (max-width: 1665px) {
    .ml-35 {
        margin-left: 13em !important;
    }
}
@media (max-width: 1652px) {
    .ml-35 {
        margin-left: 12em !important;
    }
}
@media (max-width: 1639px) {
    .ml-35 {
        margin-left: 10em !important;
    }
}
@media (max-width: 1626px) {
    .ml-35 {
        margin-left: 9em !important;
    }
}
@media (max-width: 1613px) {
    .ml-35 {
        margin-left: 8em !important;
    }
}
@media (max-width: 1600px) {
    .ml-35 {
        margin-left: 7em !important;
    }
}
@media (max-width: 1586px) {
    .ml-35 {
        margin-left: 6em !important;
    }
}
@media (max-width: 1574px) {
    .ml-35 {
        margin-left: 5em !important;
    }
}
@media (max-width: 1560px) {
    .ml-35 {
        margin-left: 4em !important;
    }
}
@media (max-width: 1548px) {
    .ml-35 {
        margin-left: 3em !important;
    }
}
@media (max-width: 1535px) {
    .ml-35 {
        margin-left: 2em !important;
    }
}
@media (max-width: 1522px) {
    .ml-35 {
        margin-left: 1em !important;
    }
}
@media (max-width: 1509px) {
    .ml-35 {
        margin-left: 0em !important;
    }
}
@media (max-width: 1496px) {
    .nav-pills > .nav-item h5{
        font-size: revert;
    }
    .ml-35 {
        margin-left: 3em !important;
    }
}
@media (max-width: 1483px) {
    .nav-pills > .nav-item h5{
        font-size: revert;
    }
    .ml-35 {
        margin-left: 2em !important;
    }
}
@media (max-width: 1470px) {
    .ml-35 {
        margin-left: 1em !important;
    }
}
@media (max-width: 1457px) {
    .ml-35 {
        margin-left: 0em !important;
    }
}
@media (max-width: 1444px) {
    .nav-pills > .nav-item h5{
        font-size: revert;
    }
    .ml-35 {
        margin-left: 14em !important;
    }
}
@media (max-width: 1436px) {
    .ml-35 {
        margin-left: 13em !important;
    }
}
@media (max-width: 1423px) {
    .ml-35 {
        margin-left: 12em !important;
    }
}
@media (max-width: 1410px) {
    .ml-35 {
        margin-left: 10em !important;
    }
}
@media (max-width: 1397px) {
    .ml-35 {
        margin-left: 9em !important;
    }
}
@media (max-width: 1384px) {
    .ml-35 {
        margin-left: 8em !important;
    }
}
@media (max-width: 1371px) {
    .ml-35 {
        margin-left: 7em !important;
    }
}
@media (max-width: 1358px) {
    .ml-35 {
        margin-left: 6em !important;
    }
}
@media (max-width: 1345px) {
    .ml-35 {
        margin-left: 5em !important;
    }
}
@media (max-width: 1332px) {
    .ml-35 {
        margin-left: 4em !important;
    }
}
@media (max-width: 1319px) {
    .ml-35 {
        margin-left: 3em !important;
    }
}
@media (max-width: 1306px) {
    .ml-35 {
        margin-left: 2em !important;
    }
}
@media (max-width: 1293px) {
    .ml-35 {
        margin-left: 1em !important;
    }
}
@media (max-width: 1280px) {
    .ml-35 {
        margin-left: 0em !important;
    }
}
@media (max-width: 1267px) {
    .ml-35 {
        margin-left: 0em !important;
    }
}
@media (max-width: 1254px) {
    .nav-pills > .nav-item h5{
        display: none;
    }
    .ml-35 {
        margin-left: 0em !important;
    }
}
@media (max-width: 1241px) {
    .ml-35 {
        margin-left: 0em !important;
    }
}
@media (max-width: 1241px) {
    .nav-pills > .nav-item h5{
        display: none;
    }
    .ml-35 {
        margin-left: 7em !important;
    }
}
@media (max-width: 1228px) {
    .ml-35 {
        margin-left: 6em !important;
    }
    .menu-left-list{
        display: flex;
        width: 100%;
        height: 15vh;
    }
    .menu-left-list > .file-list {
        height: 15vh;
        overflow-x: auto;
        padding-bottom: 0;
        display: flex !important;
    }
    .menu-left-list > .file-list > div{
        width: 10.5em;
    }
    .procedure-task {
        height: 15vh;
        padding-top: 5.2vh !important;
    }
    .left-list .h5{
        margin: 0;
        font-size: x-large;
    }
    .left-list{
        width: 21em;
        padding: 0 !important;
        padding-top: 1em !important;
        align-content: center;
    }
    .menu-list-image{
        width: 8em !important;
        margin: 0 !important;
    }
}
@media (max-width: 1215px) {
    .ml-35 {
        margin-left: 5em !important;
    }
}
@media (max-width: 1202px) {
    .ml-35 {
        margin-left: 4em !important;
    }
}
@media (max-width: 1137px) {
    .ml-35 {
        margin-left: 0em !important;
    }
}
@media (max-width: 1087px) {
    .nav-link {
        padding: .1rem 1rem;
    }
}
@media (max-width: 1085px) {
    .nav-link {
        padding: .1rem 0.9rem;
    }
}
@media (max-width: 1040px) {
    .nav-link {
        padding: .1rem 0.8rem;
    }
}
@media (max-width: 1008px) {
    .nav-link {
        padding: .1rem 0.7rem;
    }
}
@media (max-width: 962px) {
    .nav-link {
        padding: .1rem 0.6rem;
    }
}
@media (max-width: 917px) {
    .nav-link {
        padding: .1rem 0.5rem;
    }
}
@media (max-width: 873px) {
    .nav-link {
        padding: .1rem 0.4rem;
    }
}
@media (max-width: 873px) {
    .logo-lg img {
        height: 2em !important;
    }
}
@media (max-width: 803px) {
    .logo-lg img {
        height: 1.5em !important;
    }
}
@media (max-width: 778px) {
    .navbar-header {
        display: contents;
    }
    .logo-lg img {
        height: 2.5em !important;
    }
    .navbar-brand-box,.nav-pills{
        margin: auto;
    }
    .ml-35 .nav-pills{
        display: none;
    }
    .ml-35{
        position: absolute;
        top: 0;
        right: 0;
    }
}
